DB_VERSION=16

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sells
DB_USER=postgres
DB_PASSWORD=postgres

DB_FORWARD_PORT=

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_FORWARD_PORT=8080
